
<footer class="main-footer text-center add-padding">

    <div class="spacer">&nbsp;</div>
    <p class="copyright">©2016<a href="http://localhost:3000"> musical signpost</a></a></p>
    <div class="spacer">&nbsp;</div>

</footer>
