
<footer class="main-footer text-center add-padding">

    <div class="spacer">&nbsp;</div>
    <p class="copyright">©2016<%= link_to " musical signpost", root_path %></p>
    <div class="spacer">&nbsp;</div>

</footer>
