
<div class="home_title">
  <h1> Musical Signpost </h1>
</div>

<div class="spacer">&nbsp;</div>

<div class="home_container">
  <div class="search">
    <%= link_to "Browse Music", musics_path %>
  </div>

  <div class="search">
    <%= link_to "Browse Signposts", signposts_path %>
  </div>

</div>

<div class="spacer">&nbsp;</div>
<div class="spacer">&nbsp;</div>

<div class="home_container_1">
  <h1> What is a Musical Signpost</h1>
  <p> Ever listened to a song and realise an immediate connection to it? We call that a musical signpost.
    <br> 
    <br> Hear it. Feel it. Signpost it.
  </p>
</div>

<div class="spacer">&nbsp;</div>
<div class="spacer">&nbsp;</div>

<div class="home_jumbotron">

  <div class="col-md-3">Trending -- Pegged to highest view count which i can't do yet</div>
  <div class="col-md-3">Newest Music
    <div class="newest_music">
      <% unless @musics.last.blank? %>
        <%=  shownewest @musics.last.youtube_url  %>
        <%= link_to "Listen to Song",  music_path( @musics.last.id ) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">Request new Signposts</div>
</div>
