<%= form_for(@signpost) do |f| %>
  <% if @signpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signpost.errors.count, "error") %> prohibited this signpost from being saved:</h2>

      <ul>
      <% @signpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
