<p id="notice"><%= notice %></p>

<h1>All Signposts</h1>
<br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="jumbotron clearfix" >



        <% @signposts.each do |signpost| %>
            <div class="col-md-3">
              <div class="signpost_display">

                <div style="height: 300px; background-image: url(<%=signpost.img_url%>); ">

                <div class="label_display">
                  <div class="label"><%= link_to signpost.label, signpost %></div>
                </div>

                </div>

              </div>
            </div>
        <% end %>



    </div>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Signpost', new_signpost_path %> -->
